*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primaryPurple: #646ff0;
  --black-1: #646681;
  --black-2: #585858;
  --bg-1: #f8f8ff;
  --bg-2: #ecedf6;
  --bg-3: #cccdde;
  --gray-1: #eee;
  --gray-2: #dedfe1;
  --black: black;
  --white: white;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-1);
}
* {
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* App module CSS */
.app__wrapper {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}
.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.content__wrapper {
  background-color: var(--bg-2);
  padding: 2rem;
  border-radius: 12px;
  /* @include smallDeviceSize {
    padding: 1.5rem;
  } */
}
.emptyText {
  /* display: inline-block; */
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black-2);
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: var(--gray-2);
  width: max-content;
  height: auto;
}

/* Button CSS */
.button {
  display: inline-block;
  height: auto;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  /* &__select {
    color: var(--black-2);
    font-family: Poppins;
    padding: 1rem;
    border: none;
    background-color: var(--bg-3);

    width: 150px;
    cursor: pointer;
  } */
}
.button--primary {
  background-color: var(--primaryPurple);
  color: var(--white);
}
.button--secondary {
  background-color: var(--bg-3);
  color: var(--black-1);
}

/* Modal CSS */

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: var(--bg-2);
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
}
.closeButton {
  position: absolute;
  top: -10px;
  right: 0;
  transform: translateY(-100%);
  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--gray-1);
  color: var(--black-2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease all;
  z-index: -1;
  /* &:hover {
    background-color: #e32525;
    color: white;
  } */
}
.formTitle {
  color: var(--black-1);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.form {
  width: 100%;
  /* label {
    font-size: 1.6rem;
    color: var(--black-1);
    input,
    select {
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      width: 100%;
      padding: 1rem;
      border: none;
      background-color: var(--white);
      font-size: 1.6rem;
    }
  } */
}
.buttonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

/* Modal Title */
.title {
  display: inline-block;
  width: 100%;
  font-family: 'Poppins';
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: var(--black-1);
  /* @include smallDeviceSize {
    font-size: 3rem;
  } */
}

/* todo title */
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--white);
  margin-bottom: 1.5rem;
  border-radius: 4px;
  /* &:last-child {
    margin-bottom: 0;
  } */
}
.todoDetails {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.svgBox {
  flex-basis: 25px;
  flex-shrink: 0;
  height: 25px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s ease background-color;
  /* &:hover {
    background-color: var(--grey-2);
  }
  svg {
    width: 100%;
    height: 100%;
    stroke: white;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
}
.texts {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.todoText {
  word-break: break-all;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--black-2);

  /* &--completed {
    text-decoration: line-through;
    opacity: 0.7;
  } */
}
.time {
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: -0.2rem;
  color: var(--black-2);
}
.todoActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.icon {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--gray-1);
  color: var(--black-2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease background-color;
  /* &:hover {
    background-color: var(--gray-2);
  } */
}
